.faqList {
  padding-top: 1em;
  padding-bottom: 2em;
  display: grid;
  gap: 0.5em;
  width: 100%;
}

.faq_item {
  padding-bottom: 2em;
  display: grid;
  gap: 1em;
  width: 100%;
  font-size: max(1.2em, min(1.7227513228vw, 4.0366598778svh));
}

.question {
  cursor: pointer;
  width: 100%;
}

.question h2 {
  padding-bottom: 0.5em;
  padding-top: 0.2em;
}

.underline {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  width: 100%;
}

.answer {
  font-size: max(1.2em, min(1.7227513228vw, 4.0366598778svh));
 
}

.answer a {
  text-decoration: underline;
  font-weight: 600;
}
 
.imageContainer {
  width: 100%;
  position: relative;
  padding-top: 1em;
}

.imageContainer img {
  width: 100%;
  height: auto;
  aspect-ratio: 21/9;
  object-fit: cover;
}