.wrapper {
  margin-top: 4em;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.border {
  background-color: rgba(255, 255, 255, 0.2);
  height: 100%;
  width: 1px;
  position: absolute;
  top: 0;
  right: 0;
}

.content {
  height: 50%;

  justify-content: space-between;

  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.col1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4em 2em;
  padding-bottom: 6em;
  position: relative;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.col1 span {
  text-transform: uppercase;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.1em;
  opacity: 0.4;
  padding-bottom: 2em;
}
.col1 a {
  font-family: "the-seasons", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
}
.col1 li {
  padding-bottom: 0.3em;
}

.col2 {
  display: flex;
  flex-direction: column;
  font-weight: 400;

  padding: 4em 2em;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.col2 span {
  text-transform: uppercase;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.1em;
  opacity: 0.4;
  padding-bottom: 2em;
}

.col2 li {
  padding-bottom: 0.3em;
}

.name {
  display: flex;

  flex-direction: column;
}

.name div {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.name p {
  text-transform: uppercase;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  opacity: 0.6;
}

.image_container {
  position: relative;
  height: 30em;
  width: 100vw;
}

.image_container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.links {
  display: flex;
  gap: 8em;
  width: 100%;

  font-weight: 400;
}

.col3 {
  font-weight: 400;
  padding: 4em 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.col3 a {
  text-decoration: underline;
}

.col3 span {
  text-transform: uppercase;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.1em;
  opacity: 0.4;
}

.copyright {
  font-weight: 400;
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 991px) {
  .content {
    grid-template-columns: 1fr;
  }

  .col1 {
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .col2 {
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}

