.description {
  display: grid;
  gap: 1em;
  padding-bottom: 2em;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
}

.description h5 {
  grid-column: 1 / span 3;
}

.images_wrapper {
  width: 100%;
}

.image_container {
  /* margin-bottom: 0;  */
  /* width: 100%; */

}

.image_placeholder {
  width: 100%;
  aspect-ratio: 2/3;
  background-color: #f0f0f0;
}

@media screen and (max-width: 991px) {

  .description h5 {
    grid-column: 1 / span 5;
  }
  .description div {
    grid-column: 7 / span 6;
  }
 }

@media screen and (max-width: 767px) { }