.wrapper {
  min-width: 300px;

  background-color: var(--color-background);

  z-index: 999;
}

.container {
  padding: 2em;
  position: fixed;
  height: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.side_bar {
  padding-top: 4em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mobile {
  background-color: var(--color-background);
  width: 100%;
  font-size: calc(100vw * 0.05);
  padding-top: 4em;
  padding-bottom: 2em;
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.subtitle {
  font-weight: 200;
  color: var(--color-neutral-500);
}

.nav_desktop {

  display: flex;
  flex-direction: column;
  font-weight: 500;

  line-height: 1.5;
}

.name {
  text-transform: uppercase;
}

.menu_button {
  display: none;
  line-height: 2;
  text-decoration: underline;
}

.nav_desktop {

  display: flex;
  flex-direction: column;
  font-weight: 500;
  padding-right: 2em;
  line-height: 1.5;
  text-transform: uppercase;
}

.nav_mobile {
  z-index: 100;

  display: flex;
  flex-direction: column;
  font-weight: 500;

  line-height: 1.5;
  text-transform: uppercase;
}

.nav_link {
  cursor: pointer;
  display: block;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
}

.nav_link:hover {
  transform: translateX(0.5em);
}

.dropdown {
  color: var(--color-neutral-500);
  padding-left: 1em;
}

.selected {
  color: var(--color-neutral-900);
  text-decoration: underline;
}

.menu_button {
  position: fixed;
  top: 0;
  right: 0;
  text-transform: uppercase;
  padding: 2em;
}

@media (max-width: 768px) {
  .top {
    width: 100%;
    position: fixed;
  }

  .container {
    position: relative;
    padding-bottom: 3em;
  }

  .menu_button {
    display: block;
  }

  .side_bar {
    display: none;
  }

  .mobile {
    display: flex;
  }
}

@media (max-width: 430px) {
  .container {
    padding: 1em;
    padding-top: 2em;
  }
}
