.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 40em;
  padding: 18em 1em 6em 1em;
  gap: 1.5em;
  position: relative;
}

.intro h2 {
  font-family: "the-seasons", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
}

.intro p {
  opacity: 0.8;
}

.meImage {
  position: absolute;
  width: 20em;
  height: auto;
  top: -16em;
  left: 50%;
  transform: translateX(-50%);
}

.philosophy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80em;
  gap: 2em;
  padding: 6em 1em;
}

.col {
  max-width: 30em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.col h2 {
  font-family: "the-seasons", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5em;
}

.col p {
  line-height: normal;
  opacity: 0.8;
}

.col ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.col ul li {
  opacity: 0.8;
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
}
