.grid {
  display: grid;
  column-gap: 2em;
  grid-template-columns: repeat(12, 1fr);
  font-size: 1.2em;
  /* padding: 0 2rem; */
  font-weight: 400;
}

.title {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: -0.05em;
  grid-column: 1 / span 12;
  grid-row: 1;
}
.description {
  /* display: flex;
  gap: 2em; */
  grid-column: 5 / span 4;
  grid-row: 2;
}

.imageContainer {
  position: relative;
  /* min-width: 10em; */
  width: 100%;
  border-radius: 2em;
  overflow: hidden;
  aspect-ratio: 4/5;
  grid-column: 1 / span 4;
  grid-row: 2;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 4/5;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.getInTouch {
  display: flex;

  grid-column: 10 / span 3;
  grid-row: 2;
  font-weight: 600;
  cursor: pointer;
}

.getInTouch div {
  position: relative;
  cursor: pointer;
  /* right: 1em; */
}

.getInTouch svg {
  position: absolute;
  top: 0;
  right: -1em;
  font-size: 1.2em;
}

@media screen and (max-width: 991px) {
  .grid {
    row-gap: 2em;
  }
  .title {
    grid-column: 1 / span 11;
    grid-row: 1;
  }
  .imageContainer {
    grid-column: 1 / span 4;
    grid-row: 2;
  }
  .description {
    grid-column: 5 / span 10;
    grid-row: 2;
  }
  .getInTouch {
    grid-column: 5 / span 3;
    grid-row: 3;
  }
}

@media screen and (max-width: 767px) {
  .grid {
    column-gap: 0;
  }
  
  .imageContainer {
    grid-column: 1 / span 12;
    grid-row: 2;
  }
  .description {
    grid-column: 1 / span 12;
    grid-row: 3;
  }
  .getInTouch {
    grid-column: 1 / span 12;
    grid-row: 4;
  }
}
