.hero_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroContainer {
  position: relative;
  margin: 0 2em;
  height: calc(100vh - var(--header-height) - 2em);
  /* min-height: 40em; */
  z-index: 5;
}

.imageOverlay {
  position: absolute;
  inset: 0;
  border-radius: 2em;
  overflow: hidden;
}

.heroImage {
  position: absolute;
  inset: 0;
  top: -4vh;
  width: 100%;
  /* height: 100vh; */

}

.heroImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.coupleName {
  position: absolute;
  bottom: 2em;
  left: 2em;
  color: #fff;
  font-size: 1.2em;
  z-index: 2;
}

.scroll {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1em;
  z-index: 2;
  font-weight: 400;
  border: 1px solid #ffffff99;
  border-radius: 20em;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  gap: 0.5em;
}


.word1 {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 8em;
  letter-spacing: -0.05em;
}

.word2 {
  position: absolute;
  top: 1.25em;
  left: 1.15em;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: -0.05em;
  font-size: 8em;
}

.word3 {
  position: absolute;
  bottom: 1.25em;
  right: 1.85em;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 8em;
  letter-spacing: -0.05em;
}

.word4 {
  position: absolute;
  bottom: 0.5em;
  right: 0.65em;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: -0.05em;
  font-size: 8em;
}

.word1 span,
.word2 span,
.word3 span,
.word4 span {
  display: inline-block; 
}


@media screen and (max-width: 991px) {
  .hero_text .word1 {
    font-size: 6em;
  }

  .hero_text .word2 {
    font-size: 6em;
  }

  .hero_text .word3 {
    font-size: 6em;
  }

  .hero_text .word4 {
    font-size: 6em;
  }
}

@media screen and (max-width: 767px) {
  .hero_text .word1 {
    font-size: 4em;
  }

  .hero_text .word2 {
    font-size: 4em;
  }

  .hero_text .word3 {
    font-size: 4em;
  }

  .hero_text .word4 {
    font-size: 4em;
  }

  .heroContainer {
    margin: 0 1em 1em;
  }

  .coupleName {
    font-size: 1rem;
  }

  .heroContainer {
    height: calc(100vh - var(--header-height) - 1em);
  }

  /* .scroll {
    display: none;
  } */
}
