.container {
  height: 120svh;
  overflow: hidden;

  position: relative;
}

.heroImage {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 0;
}

.heroImage.active {
  opacity: 1;
  z-index: 1;
}

.heroImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.heroTextWrapper {
  position: absolute;
  bottom: 25vh;
  padding-bottom: 2em;
  width: 100%;
  z-index: 5;
}

.heroText {
  text-align: center;
}

.heroText div {
  font-size: 5em;
  line-height: 1.1;
  font-family: "the-seasons", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.heroText h1:last-child {
  font-size: 1em;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 1em;
  color: rgba(255, 255, 255, 0.8);
}

.explore {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1em 2em;
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.exploreContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  color: white;
}

.arrowContainer {
  display: flex;
  justify-content: center;
}

.arrowDown {
  width: 2em;
  height: 2em;
  vertical-align: middle;
  stroke-width: 1;
  opacity: 0.6;
}

.heroImagesWrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
  .container {
    font-size: 0.8em;
  }
  .heroText div {
    font-size: 3.7em;
  }
}
