.container {
  padding: 0 2em;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .container {
    
    padding: 0 2em;
  }
}

@media (max-width: 430px) {
  .container {
    padding-left: 1em;
    padding-right: 1em;
  }
}
