.contact {
  font-size: max(1.2em, min(1.7227513228vw, 4.0366598778svh));
  text-transform: uppercase;
  padding-top: 2em;
  padding-bottom: 2em;
}


.contactForm_link {
  text-decoration: none;
}

.socials {
    padding-top: 1em;
  display: flex;
  flex-direction: column;
}

.contactItem {
    display: flex;
    padding-bottom: 1em;
}