.container {

}
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6em;
  padding-bottom: 6em;
  padding-left: 1em;
  padding-right: 1em;
}
.intro_text {
  max-width: 50em;
  text-align: center;
  display: grid;
  gap: 1.5em
}

.intro_text h2 {
    font-family: "the-seasons", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5em;
}
.intro_text p{ 
  font-size: 1.2em;
  opacity: 0.9;
}

.package {
  padding-top: 6em;
  padding-bottom: 6em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 6em;
}

.description {
  max-width: 35em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.description h2 {
  font-family: "the-seasons", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
}

.description h5 {
  opacity: 0.6;
  font-size: 1em;
  text-transform: uppercase;
}
.description div {
  opacity: 0.9;
}

.description ul {
  padding-top: 1em;
  padding-bottom: 2em;
  display: grid;
  gap: 1em;
  opacity: 0.9;
}

.description h4 {
  font-family: "the-seasons", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3em;
}

.details_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(44, 44, 44);
  color: white;
}

.details {
  max-width: 35em;
  display: grid;
  gap: 1em;
  padding-top: 6em;
  padding-bottom: 6em;
  padding-left: 1em;
  padding-right: 1em;
  
}

.details h3 {
  font-family: "the-seasons", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 3.5em;
}

.details ul {
  display: grid;
  gap: 1em;
}

@media screen and (max-width: 767px) {
.description {
  padding: 1em;
}

.grid {
  gap: 2em;
}
}
