.container {

}
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: var(--space-3xl);
  padding-bottom: var(--space-3xl);
  padding-left: var(--space-md);
  padding-right: var(--space-md);
}
.intro_text {
  max-width: 50em;
  text-align: center;
  display: grid;
  gap: var(--space-lg);
}

.intro_text h2 {
    font-family: "the-seasons", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--text-xl);
}
.intro_text p{
  font-size: var(--text-base);
  opacity: 0.9;
}

.package {
  padding-top: var(--space-3xl);
  padding-bottom: var(--space-3xl);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--space-3xl);
}

.description {
  max-width: 35em;
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.description h2 {
  font-family: "the-seasons", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--text-xl);
}

.description h5 {
  opacity: 0.6;
  font-size: var(--text-base);
  text-transform: uppercase;
}
.description div {
  opacity: 0.9;
}

.description ul {
  padding-top: var(--space-md);
  padding-bottom: var(--space-lg);
  display: grid;
  gap: var(--space-md);
  opacity: 0.9;
}

.description h4 {
  font-family: "the-seasons", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: var(--text-lg);
}

.priceNote {
  max-width: 40em;
  margin: 0 auto;
  padding: 0 var(--space-md) var(--space-xl);
  text-align: center;
  /* font-size: var(--text-sm); */
  font-style: italic;
  opacity: 0.6;
}

.details_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(44, 44, 44);
  color: white;
}

.details {
  max-width: 35em;
  display: grid;
  gap: var(--space-md);
  padding-top: var(--space-3xl);
  padding-bottom: var(--space-3xl);
  padding-left: var(--space-md);
  padding-right: var(--space-md);

}

.details h3 {
  font-family: "the-seasons", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: var(--text-xl);
}

.details ul {
  display: grid;
  gap: var(--space-md);
}

@media screen and (max-width: 767px) {
.description {
  padding: var(--space-md);
}

.grid {
  gap: var(--space-lg);
}
}
