.wrapper {
}

.portfolioSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolioSection h2 {
  font-family: "the-seasons", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.05em;
  text-transform: capitalize;
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
}

.section {
  padding-top: 6em;
}

.travel {
    background-color: rgb(44, 44, 44);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em 0;

}

.travel h2 {
    font-family: "the-seasons", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.05em;
    text-transform: capitalize;
}

.description {
    text-align: center;
    max-width: 40em;
    padding: 2em 1em 4em 1em;
    opacity: 0.8;
}

.images {
    columns: 2;
    max-width: 80em;
    column-gap:1em;
}

.imageContainer {
    break-inside: avoid-column;
    margin-bottom: 1em;
}

.imageContainer img {
    display: block;
}