.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.imageContainer {
  position: relative;
  width: 100%;
}

.column img {
  width: 100%;
  height: auto;
}
