.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  width: 100%;
  max-width: 60em;
  text-transform: capitalize;
  padding: 2em 0;
  
}

.item {
  position: relative;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 1s;
  overflow: hidden;
  padding-bottom: 2em;
  /* max-width: 32em; */
}



.item:hover {
  opacity: 0.95;
  .coverImage {
    scale: 1.05;
  }
}

.image {
  
  overflow: hidden;
  box-sizing: border-box;
  display: block;
  position: relative;
  line-height: 0;
  font-size: 0;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 1s;

}
.coverImage {
  transition: cubic-bezier(0.4, 0, 0.2, 1) 1s;
  width: 100%;
  height: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  line-height: 1.2em;
  padding-top: 1em;
}

.description > *:not(:first-child) {
  opacity: 0.4;
  font-weight: 400;
}

.description > *:last-child {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 430px) {
  .grid {
    gap: 1em;
  }
 }
