.imageContainer {
  width: var(--parallax-width);
  height: var(--parallax-height);
  overflow: hidden;
  position: relative;
}

.imageWrapper {
  width: 100%;
  height: 110%;
  position: absolute;
  top: -5%;
}
.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .imageContainer {
    width: 100%;
    height: 32em;
  }
}