.wrapper {
  min-width: 18em;

  background-color: var(--color-background);

  z-index: 999;
  font-size: max(1rem, min(1.2vw, 1.5svh));
}

.container {
  padding: 2em;
  position: fixed;
  height: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  width: 100%;
}

.menu_button {
  display: none;
  text-decoration: underline;
  text-transform: uppercase;
  color: var(--color-neutral-900)
}


.side_bar {
  padding-top: 4em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}



.mobile {
  /* background-color: var(--color-background); */
  width: 100%;
  font-size: calc(100vw * 0.05);
  padding-top: 4em;
  padding-bottom: 2em;
  padding-left: 2em;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  z-index: 9;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
 
}

.subtitle {
  font-weight: 200;
  color: var(--color-neutral-500);
}

.name {
  text-transform: uppercase;
}



.navigation {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  padding-right: 2em;
  line-height: 1.5;
  text-transform: uppercase;
}

.nav_link {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  line-height: 1.1;
}

.nav_link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.05em;
  bottom: 0;
  left: 0;
  background-color: var(--color-neutral-900);
  transition: transform 0.25s;
  transform-origin: bottom left;
}

.nav_link:hover::after {
  transform: scaleX(1);
}

.selected::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.05em;
  bottom: 0;
  left: 0;
  background-color: var(--color-neutral-900);
  transform: scaleX(1);
}

.dropdown {
  color: var(--color-neutral-500);
  padding-left: 1em;
}

.selected {
  position: relative;
  display: inline-block;
}



@media (max-width: 768px) {
  .top {
    position: fixed;
    width: 100%;
    height: 4em;
    padding: 0 2em;
  }

  .container {
    padding: 0;
  }

  .menu_button {
    display: block;
  }

  .side_bar {
    display: none;
  }

  .mobile {
    display: flex;
  }
}

@media (max-width: 430px) {
  .top {
    padding: 0 1em;
  }
}
